body{
    max-width: 500px;
    margin: auto;
    text-align: center;
}

input,button{
    font-size: 30px;
}
p{
    font-size: 20px;
}

.settings{
    position: absolute;
    text-align: left;
    top: 5px;
    right: 5px;
    padding: 0 20px;
    background: #ffffffed;
    border-radius: 15px;
}

.cloak{
    display: none;
}